<div class="row mt-4 justify-content-center">
  <div class="col-sm-6 col-md-8">
    <div class="form-group">
      <div class="form-floating mb-3">
        <input type="text" 
              class="form-control" 
              id="floatingInput" 
              placeholder="pizza" 
              [(ngModel)]="term">
        <label for="floatingInput">Filter by...</label>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 justify-content-center" *ngFor="let dish of foodList | filter:term">
  <div class="col-sm-6 col-md-8">
    <div class="card text-center justify-content-center">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header bg-primary text-white">Dish</div>
        <div class="card-body">
          <h4 class="card-title text-center">{{dish.name}}</h4>
          <p class="card-text text-center">{{dish.price}}</p>
          <div class="row">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="showSelectedDish(dish)">
              ver más...
            </button>
            <a href="#" class="btn btn-success">Añadir al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="row" *ngFor="let dish of foodList">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{dish.name}}</h5>
        <p class="card-text">{{dish.price}}</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="showSelectedDish(dish)">
          ver más...
        </button>
        <a href="#" class="btn btn-success">Añadir al carrito</a>
      </div>
    </div>
  </div>
</div>
-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">{{selectDish.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{selectDish.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addToCart()">Add to cart</button>
      </div>
    </div>
  </div>
</div>
{{testShoppingCart | json}}
<ul *ngFor="let item of testList">
  <li>{{item.name}}</li>
</ul>