<div class="bg-dark" style="width: 100%;">
    <img class="img-fluid d-block ml-1 p-2 pb-3bg-dark" style="width: 60%;" src="../../../../assets/img/banner.jpeg"
        alt="">
</div>
<div class="container mt-5">
    <div class="row mt-2">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-2 p-4">
                <form [formGroup]="baseForm" class="row g-3">
                    <h4 class="text-center">Welcome Back</h4>
                    <div class="col-12 mt-5">
                        <label>Email</label>
                        <input type="text" name="EMAIL" class="form-control" placeholder="example@mail.com"
                            [class.is-invalid]="isValidField('EMAIL')" formControlName="EMAIL">
                        <div class="text-danger" role="alert" *ngIf="isValidField('EMAIL')">
                            {{getErrorMessage("EMAIL")}}
                        </div>
                    </div>
                    <div class="col-12 pt-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password"
                            [class.is-invalid]="isValidField('PASSWORD')" formControlName="PASSWORD">
                        <div class="text-danger" role="alert" *ngIf="isValidField('PASSWORD')">
                            {{getErrorMessage("PASSWORD")}}
                        </div>
                    </div>
                    <small>Have not account yet? <a routerLink='/auth/signin' class="text-info">Sign In</a></small>
                    <!--<button class="btn btn-dark float-end" (click)="login()">Login</button>-->

                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-dark float-end" [disabled]="baseForm.invalid"
                            (click)="login()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>